.sidenav {
  height: 100%;
  width: 5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a323ae3;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: smaller;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  border-left: 4px solid white;
  background-color: #2a323a73;
}
.sidenav a:active {
  background-color: #2a323a73;
}

.main {
  margin-left: 5rem;
  font-size: 28px;
  padding: 0px 10px;
  background-color: #f1efefd5;
}

.chart-pie {
  margin-top: 100px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.bell-icon {
  border-right: 2px solid rgba(128, 128, 128, 0.767);
}

.bell-icon:hover {
  width: 40px;
}

.navbar-brand {
  color: rgb(11, 182, 250);
}

.div-width {
  width: 100%;
}

.sidebar {
  background-color: #f7f7f7a2;
}
.sidebar .bar-icon:hover {
  border-left: #2a323a73;
}
