<div class="sidenav">
  <a class="nav-link nav-link-css"><img src="./../../assets/bars-solid.svg" class="text-primary" width="25px"
      alt=""></a>
  <a class="nav-link nav-link-css"><img src="./../../assets/chart-pie-solid.svg" width="25px" alt=""></a>
  <a class="nav-link nav-link-css" routerLinkActive="sam-primary" [routerLink]="['/add-new']"><img
      src="./../../assets/plus-circle-solid.svg" width="25px" alt=""></a>
</div>

<div class="main bg-light">
  <!-- <div class="row p-4"> -->
  <div class="div-width row p-4">
    <h2 class="navbar-brand ml-5">Admin View</h2>
    <form class=" d-flex ml-auto mt-2">
      <input class="form-control-sm me-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn btn-outline-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button> -->
    </form>
    <img class="bell-icon ml-3 pr-2 pl-2" src="./../../assets/bell-solid.svg" width="35px" alt="">
    <span class=" h5 pr-3 pl-3 mt-auto mb-auto">Username</span> <img src="./../../assets/user-circle-solid.svg"
      width="40x" alt="">
  </div>
  <!-- </div> -->
  <!-- <nav class="navbar navbar-light bg-light">

  </nav> -->
</div>
