<div class="sidenav">
  <a class="nav-link nav-link-css" routerLinkActive="sam-primary" [routerLink]="['/add-new']">About</a>
  <a class="nav-link nav-link-css" routerLinkActive="sam-primary" [routerLink]="['/add-new']">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>

<div class="main bg-light">
  <!-- <div class="row p-4"> -->
  <div class="div-width p-4">
    <h2 class="navbar-brand ">Admin View</h2>
    <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
  </div>
  <!-- </div> -->
  <!-- <nav class="navbar navbar-light bg-light">

  </nav> -->
</div>
<!-- <div class=" ">
  <aside>
    <nav class="nav navbar navbar-dark bg-dark sidebar fixed-left">
      <div class=" main-nav">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-th "></i>
              <p>
                Kyc Approval
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-css" routerLinkActive="sam-primary" [routerLink]="['/add-new']">
              <i class="nav-icon fas fa-th"></i>
              <p>
                plus
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                bdbjhdbj
              </p>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
</div> -->
<!-- <aside class="nav flex-column nav-pills border pt-2  bg-dark main-sidebar sidebar-dark-primary elevation-4">
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom">Department 1</a>
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom">Department 2</a>
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom">Department 3</a>
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom">Department 4</a>
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom" routerLinkActive="sam-primary"
    [routerLink]="['add-new']">Admin-Grid</a>
  <a class=" nav-link p-2 pl-5 pr-5 text-white border-bottom" routerLinkActive="sam-primary"
    [routerLink]="['/add-new']">Hospital-Config</a>
</aside> -->
