<mat-drawer-container class="sidenav sidebar" autosize>
  <a class="nav-link nav-link-css bar-icon" mat-button (click)="drawer.toggle()"><img
      src=" ./../../assets/bars-solid.svg" class="text-primary" width="25px" alt=""></a>
  <mat-drawer #drawer class="sidenav" mode="side">
    <a class="nav-link nav-link-css" mat-button (click)="drawer.toggle()"><img src=" ./../../assets/bars-solid.svg"
        class="text-primary " width="25px" alt=""></a>
    <a class="nav-link nav-link-css chart-pie "><img src="./../../assets/chart-pie-solid.svg" width="25px" alt=""></a>
    <a class="nav-link nav-link-css mt-3" routerLinkActive="sam-primary" [routerLink]="['/add-new']"><img
        src="./../../assets/plus-circle-solid.svg" width="25px" alt=""></a>
  </mat-drawer>
</mat-drawer-container>

<div class="main bg-light">
  <div class="div-width row p-4">
    <h2 class="navbar-brand ml-5">Admin View</h2>
    <form class="form d-flex  mt-2">
      <input class=" form form-control-sm " type="search" placeholder="Search" aria-label="Search">
    </form>
    <p class="user-bell-icon">
      <img class="bell-icon ml-3 pr-2 pl-2" src="./../../assets/bell-solid.svg" alt="">
      <span class=" h5 pr-3 pl-3 mt-auto mb-auto username font-weight-light">Username</span> <img
        src="./../../assets/user-circle-solid.svg" class="user-icon" alt=""></p>
  </div>
</div>
