.sidenav {
  height: 100%;
  width: 5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2a323ae3;
  overflow-x: hidden;
  padding-top: 20px;
  font-size: smaller;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
  border-left: 4px solid white;
  background-color: #2a323a73;
}
.sidenav a:active {
  background-color: #2a323a73;
}

.main {
  margin-left: 5rem; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: #f1efefd5;
}

.chart-pie {
  margin-top: 100px;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.bell-icon {
  border-right: 2px solid rgba(128, 128, 128, 0.767);
  // width: 40px;
  // padding-right: 10px;
}

.bell-icon:hover {
  width: 40px;
}

.navbar-brand {
  color: rgb(11, 182, 250);
}

.div-width {
  width: 100%;
}

// ====================== Material sidenav

// .example-container {
//   width: 500px;
//   height: 300px;
//   border: 1px solid rgba(0, 0, 0, 0.5);
// }

// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }

// .example-sidenav {
//   padding: 20px;
// }
