.main-col {
  width: auto;
  margin-right: 15px;
  margin-left: 6rem;
  font-size: smaller;
  background-color: rgba(252, 252, 252, 0.753);
}

.row-color {
  background-color: #007bff17;
}

@media (max-width: 780px) {
  .main-col {
    margin-left: 4rem;
    margin-right: 8px;
  }
}
@media (max-width: 440px) {
  .main-col {
    margin-left: 0.8rem;
    margin-right: 8px;
  }
}
.table-width {
  width: auto;
  margin: 100px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 2px 4px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.label-span {
  float: right;
  padding-right: 5px;
}
.btn-color {
  background-color: #2485a6;
}
