<div class="bg-light">
  <div class="col main-col border bg-white rounded mb-5">
    <div class="row">
      <h5 class="p-4">Packaging of Product</h5>
      <span class="ml-auto pr-3 mt-auto mb-auto">+ Add new</span>
    </div>

    <div class="row border m-4 rounded">
      <h5 class="p-4 text-secondary">Box informatio</h5>
      <span class=" pr-3 ml-auto mr-2 mt-auto mb-auto "><a href="">Image</a></span>

      <table class="border rounded table table-bordered table-sm text-center table-responsive-sm">

        <thead>
          <tr>
            <td>Product Templete</td>
            <td>Product Code</td>
            <td>width</td>
            <td>Length</td>
            <td>BF(Burst factor)</td>
            <td>Height</td>
            <td>Weight</td>
            <td>Cost</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>BX-001</td>
            <td>500mm</td>
            <td>500mm</td>
            <td>65</td>
            <td></td>
            <td></td>
            <td>76$</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="row border m-4 rounded">
      <h5 class="p-4 text-secondary">Package informatio</h5>
      <span class=" pr-3 ml-auto mr-2 mt-auto mb-auto"><a href="">Image</a></span>

      <table class="border rounded table table-bordered table-sm text-center table-responsive-sm">

        <thead class="bg-info">
          <tr>
            <td>Pcs/Box</td>
            <td>total WT </td>
            <td>MQO</td>
            <td>Volume(cdm)</td>
            <td>Total Cost</td>
            <td>MQS</td>
            <td>Add Expense</td>
            <td>input--P.Code</td>
            <td>Weight</td>
            <td>Price</td>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>

    </div>
  </div>
</div>
