<div class="bg-light pb-3 ">
  <div class="col main-col border  rounded  pb-3">
    <div class="row">
      <h5 class="p-4 text-secondary">Create a new product</h5>
      <span class=" pr-3 ml-auto mr-2 mt-auto mb-auto"> <button class="btn btn-light"> <img
            src="./assets/sign-out-alt-solid.svg" width="25px" alt="">Logout</button></span>
    </div>
    <div class="row p-4">
      <div class="col-md-3 col-sm-6 col-xs-12">
        Industry Category
        <select class="form-control mb-3 font-weight-light  ">
          <option>Select</option>
          <option>Select</option>
          <option>Select</option>
        </select>Product Templete
        <select class="form-control mb-3 font-weight-light ">
          <option>Select</option>
        </select>
        <span> Weight:<span class="label-span">Gm</span></span>
        <input type="number" class="form-control mb-3" placeholder="100">

        <span>Cost:<span class="label-span">USD</span></span>
        <input type="number" class="form-control mb-3" placeholder="100">

        <span> Surface area:<span class="label-span">Gm</span></span>
        <input type="number" class="form-control mb-3" placeholder="100">
      </div>

      <div class="col-md-3 col-sm-6 col-xs-12 ">
        Product Category
        <select class="form-control mb-3 font-weight-light ">
          <option>Select</option>
        </select>
        Product Subtype
        <select class="form-control mb-3 font-weight-light ">
          <option>Select</option>
        </select>
        Prefix:
        <input type="number" class="form-control mb-3" placeholder="123">
        Product wieght calculator:
        <select class="form-control mb-3 font-weight-light ">
          <option>Select</option>
        </select>

        <span> Size:<span class="label-span">mm</span></span>
        <input type="number" class="form-control mb-3" placeholder="Length">
        <input type="number" class="form-control mb-3" placeholder="width">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 ">
        Product Type
        <select class="form-control mb-3 font-weight-light ">
          <option>Select</option>
        </select>
        HSN Code
        <input type="number" class="form-control mb-3" placeholder="100">
        Product Code
        <input type="text" class="form-control mb-3" placeholder="HH54">
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 ">
        <div class="row">
          <div class=" upload-btn-wrapper ml-auto mr-auto mt-3 p-3">
            <app-drag-drop></app-drag-drop>
          </div>
        </div>
      </div>
    </div>
    <app-table-package class="table-width"></app-table-package>
    <br> <br>
    <app-table-package class="table-width "></app-table-package>
  </div>
</div>
