<div class="bg-light  pb-3">
  <div class="col main-col border bg-white rounded  pb-3">
    <div class="row">
      <h5 class="p-4 text-secondary">Create a new product</h5>
      <span class=" pr-3 ml-auto mr-2 mt-auto mb-auto"> <button class="btn btn-light"> <img
            src="./../../assets/sign-out-alt-solid.svg" width="25px" alt="">Logout</button></span>
    </div>
    <div class="row p-4">
      <div class="col">
        Industry Category
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>Product Templete
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>Weight:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        cost:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        surface area:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
      </div>

      <div class="col ">
        <!-- <div> -->
        Product Category
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        Product Subtype
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        Prefix:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        Product wieght calculator:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        Size:
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
      </div>
      <div class="col ">
        <!-- <div> -->
        Product Type
        <select class="form-control mb-3">
          <option>Default select</option>
        </select>
        HSN Code
        <input type="number" class="form-control mb-3">
        Product Code
        <input type="number" class="form-control mb-3">
      </div>
      <div class="col ">
        <div class="row">
          <div class=" upload-btn-wrapper ml-auto mr-auto mt-3 ">
            <button class="btn btn-upload ">Upload a file</button>
            <input type="file" name="myfile" />
          </div>
        </div>
      </div>
    </div>
    <app-table-package class="table-width"></app-table-package>
    <br> <br>
    <app-table-package class="table-width "></app-table-package>
  </div>
</div>
