<div class="center">
  <p class="text-center">Upload a picture</p>
  <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
    (onFileLeave)="fileLeave($event)">
    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
      <p class="ml-1 mt-2">drag 'n' drop your file or</p>
      <button class="btn-sm btn-outline-secondary ml-1 mr-1" type="button" (click)="openFileSelector()">Browse
        Files</button>
    </ng-template>
  </ngx-file-drop>
  <div class="upload-table">
    <table class="table">
      <tbody class="upload-name-style">
        <tr *ngFor="let item of files; let i=index">
          <td>Name: {{ item.relativePath }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
