<div class="mat-elevation-z8  overflow-fix">
  <table class="table-sm table-bordered text-center" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="package">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Package. </th>
      <td mat-cell *matCellDef="let element"> {{element.package}} </td>
    </ng-container>

    <ng-container matColumnDef="size">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size}} </td>
    </ng-container>
    <ng-container matColumnDef="NoOfitem">
      <th class="row-color" mat-header-cell *matHeaderCellDef> NoOfitem </th>
      <td mat-cell *matCellDef="let element"> {{element.NoOfitem}} </td>
    </ng-container>
    <ng-container matColumnDef="relation">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Relation </th>
      <td mat-cell *matCellDef="let element"> {{element.relation}} </td>
    </ng-container>
    <ng-container matColumnDef="grossWeight">
      <th class="row-color" mat-header-cell *matHeaderCellDef> GrossWeight </th>
      <td mat-cell *matCellDef="let element"> {{element.grossWeight}} </td>
    </ng-container>
    <ng-container matColumnDef="cost">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Cost </th>
      <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
    </ng-container>
    <ng-container matColumnDef="volume">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Volume </th>
      <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
    </ng-container>
    <ng-container matColumnDef="class">
      <th class="row-color" mat-header-cell *matHeaderCellDef> Class </th>
      <td mat-cell *matCellDef="let element"> {{element.class}} </td>
    </ng-container>
    <ng-container matColumnDef="header-row-first-group">
      <th class="text-center h6" mat-header-cell *matHeaderCellDef [attr.colspan]="4">
        Package Summary
      </th>
    </ng-container>
    <ng-container matColumnDef="header-row-second-group">
      <th class="text-center h6 th" mat-header-cell *matHeaderCellDef [attr.colspan]="2"><a href="">Detail
          Packaging
          View</a>
      </th>
    </ng-container>
    <ng-container matColumnDef="header-row-third-group">
      <th class="text-center h6" mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Eloborate Packing Cost</th>
    </ng-container>
    <tr mat-header-row
      *matHeaderRowDef="['header-row-first-group', 'header-row-second-group','header-row-third-group']"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons aria-label="Select page of periodic elements"
    class="row-color">
  </mat-paginator>

</div>
