<!-- <div class="container mt-5"> -->
<div class="row">
  <button value="click" class="btn add-product-btn ml-auto mr-4" (click)="saveProcess()" style="margin-bottom: 20px;">
    + Add New Process
  </button>
</div>
<!-- *ngFor="let table of tables" -->
<div class="col-md-12 col-sm-12 shadow process-table-div pb-1 pt-2 mb-5">
  <div class="pt-2 row">
    <span> <label class="h5 pl-4 pr-1 ">Process Number: </label>
      <span class="h6 pr-2"> {{xprocessNumber}}</span></span>
    <label class="h5 pl-5">Name: </label>
    <input type="text " class="form-control-sm ml-1" placeholder="Name" [(ngModel)]="processName"
      (change)="ProcessNameChangeHandler($event)">
    <span> <label class="h5 pl-5 pr-1">Total: </label> <span class="h6"> 500$</span></span>
    <label class="h5  pl-5">Product of this process: </label>
    <input type="text" class="form-control-sm ml-1" [(ngModel)]="productOfProcess"
      placeholder="Final Product" (change)="ProductOfProcessChangeHandler($event)">
    <button class=" btn add-product-btn  mb-3 ml-auto   mr-3" type="button" (click)="addFieldValue();  addData()">+
      Add New Product</button>
  </div>
  <!-- ======================== Table 1 =========================== -->
  <table class="table table1 table-bordered pb-0 mb-0">
    <thead>
      <tr class="row-color">
        <td scope="col">Product Name</td>
        <td scope="col">USD/MT price</td>
        <td scope="col">%USED(WEIGHT)</td>
        <td scope="col">DENSITY</td>
        <td scope="col">AVG DENSITY</td>
        <td scope="col">COST ADDON</td>
        <td scope="col">WASTE %</td>
        <td scope="col">Status</td>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <!-- *ngFor="let data of AddProductData; let j = index" -->
        <tr *ngFor="let field of fieldArray; let i = index" class="text-center">
          <td>
            <select name="" id="" class="form-control-sm" (change)="selectProductNameChangeHandler($event,i)">
              <option value="{{data.id}}" 
              *ngFor="let data of AddProductData"
              [selected]="data.description === previousCreatedProcess.description">{{data.description}}</option>
            </select>
          </td>
          <td>{{getxPrice(selectedProducts[i])}}</td>
          <td><input type="number" placeholder="Weight" 
            (change)="ProductWeightChangeHandler($event,i)"
            value="{{getxWeight(selectedProducts[i])}}"></td>
          <td>{{getxDensity(selectedProducts[i])}}</td>
          <td>{{getxAvgDensity(selectedProducts[i])}}</td>
          <td>{{getxCostAddOn(selectedProducts[i])}}</td>
          <td> <input type="number" placeholder="Waste" 
            (change)="ProductWasteChangeHandler($event)" 
            value="{{getxPercentWaste(selectedProducts[i])}}"> </td>
          <td><i class="fa fa-pencil pl-5" aria-hidden="true"></i>
            <i class="fa fa-trash-o pl-5" aria-hidden="true"></i>
          </td>
        </tr>
      </ng-container>
      <tr class="row-color text-left">
        <td colspan="5" class="h6">Total</td>
        <td></td>
        <td colspan="2"></td>
      </tr>
    </tbody>
  </table>

  <!-- ===================== Table 2 ========================= -->
  <table class="table table2  pb-5 mb-4">
    <thead>
      <tr class="pb-0 row-color1">
        <label for="" class="p-2 pr-5 h6">Conversion Cost Calculation</label>
        <button class="btn btn-default ml-5" (click)="addFieldValue1()">+ Add New</button>
        <td scope="col"></td>
        <td scope="col"></td>
      </tr>
    </thead>
    <tbody *ngFor="let field of fieldArray1; let i = index">
      <tr class="row-color1">
        <td scope="col">
          <select name="" id="" class="form-control-sm" (change)="selectConverionChangeHandler($event,i)">
            <option value="{{name.id}}" *ngFor="let name of ConversionName; let j = index">{{name.description}}</option>
          </select>
        </td>
        <td scope="col" class="tdcost"><input type="number" placeholder="Enter Cost"
            (change)="EnterCostChangeHandler($event,i)" [(ngModel)]="enterCost">
        </td>
        <td scope="col"><i class="fa fa-trash-o text-white pl-5" aria-hidden="true"></i></td>
      </tr>
    </tbody>
  </table>
  <!-- <div>
    <button class="btn btn-default ml-5" (click)="saveProcess()">Save</button>
  </div> -->
</div>
<!-- </div> -->















  <div class="col-md-12 col-sm-12 shadow process-table-div pb-1 pt-2 mb-5" *ngFor="let createdProcess of createdProcessArray">
    <div class="pt-2 row">
      <span> <label class="h5 pl-4 pr-1 ">Process Number: </label>
        <span class="h6 pr-2"> {{createdProcess.process.id}}</span></span>
      <label class="h5 pl-5">Name: </label>
      <input type="text " class="form-control-sm ml-1" placeholder="Name" [(ngModel)]="createdProcess.process.description">
      <span> <label class="h5 pl-5 pr-1">Total: </label> <span class="h6"> 500$</span></span>
      <label class="h5  pl-5">Product of this process: </label>
      <input type="text" class="form-control-sm ml-1" [(ngModel)]="createdProcess.description" 
        placeholder="Final Product">
      <!-- <button class=" btn add-product-btn  mb-3 ml-auto   mr-3" type="button" (click)="addFieldValue();  addData()">+
        Add New Product</button> -->
    </div>
    <!-- ======================== Table 1 =========================== -->
    <table class="table table1 table-bordered pb-0 mb-0">
      <thead>
        <tr class="row-color">
          <td scope="col">Product Name</td>
          <td scope="col">USD/MT price</td>
          <td scope="col">%USED(WEIGHT)</td>
          <td scope="col">DENSITY</td>
          <td scope="col">AVG DENSITY</td>
          <td scope="col">COST ADDON</td>
          <td scope="col">WASTE %</td>
          <td scope="col">Status</td>
        </tr>
      </thead>
      <tbody>
        <ng-container>
          <!-- *ngFor="let data of AddProductData; let j = index" -->
          <tr *ngFor="let field of fieldArray; let i = index" class="text-center">
            <td>
              <select name="" id="" class="form-control-sm">
                <option value="{{data.id}}" *ngFor="let data of AddProductData">{{data.description}}</option>
              </select>
            </td>
            <td>{{getxPrice(selectedProducts[i])}}</td>
            <td><input type="number" placeholder="Weight" 
              (change)="ProductWeightChangeHandler($event,i)"
              value="{{getxWeight(selectedProducts[i])}}"></td>
            <td>{{getxDensity(selectedProducts[i])}}</td>
            <td>{{getxAvgDensity(selectedProducts[i])}}</td>
            <td>{{getxCostAddOn(selectedProducts[i])}}</td>
            <td> <input type="number" placeholder="Waste" 
              (change)="ProductWasteChangeHandler($event)" 
              value="{{getxPercentWaste(selectedProducts[i])}}"> </td>
            <td><i class="fa fa-pencil pl-5" aria-hidden="true"></i>
              <i class="fa fa-trash-o pl-5" aria-hidden="true"></i>
            </td>
          </tr>
        </ng-container>
        <tr class="row-color text-left">
          <td colspan="5" class="h6">Total</td>
          <td></td>
          <td colspan="2"></td>
        </tr>
      </tbody>
    </table>
  
    <!-- ===================== Table 2 ========================= -->
    <table class="table table2  pb-5 mb-4">
      <thead>
        <tr class="pb-0 row-color1">
          <label for="" class="p-2 pr-5 h6">Conversion Cost Calculation</label>
          <button class="btn btn-default ml-5" (click)="addFieldValue1()">+ Add New</button>
          <td scope="col"></td>
          <td scope="col"></td>
        </tr>
      </thead>
      <tbody *ngFor="let field of fieldArray1; let i = index">
        <tr class="row-color1">
          <td scope="col">
            <select name="" id="" class="form-control-sm" (change)="selectConverionChangeHandler($event,i)">
              <option value="{{name.id}}" *ngFor="let name of ConversionName; let j = index">{{name.description}}</option>
            </select>
          </td>
          <td scope="col" class="tdcost"><input type="number" placeholder="Enter Cost"
              (change)="EnterCostChangeHandler($event,i)">
          </td>
          <td scope="col"><i class="fa fa-trash-o text-white pl-5" aria-hidden="true"></i></td>
        </tr>
      </tbody>
    </table>
    <!-- <div>
      <button class="btn btn-default ml-5" (click)="saveProcess()">Save</button>
    </div> -->
  </div>